.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__xfyPb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___0Warq {
  display: flex;
  padding-top: 32px;
  padding-bottom: 64px;
  flex-direction: column;
  background: radial-gradient(
        ellipse 64% 90% at 50% 10%,
        #ffffffcc 0%,
        #ffffff 100%
      )
      0% 0% / 100% 100% repeat,
    url("https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
      0% 0% / 100% 100% repeat;
}
.freeBox___0Warq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0Warq > :global(.__wab_flex-container) > *,
.freeBox___0Warq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Warq > :global(.__wab_flex-container) > picture > img,
.freeBox___0Warq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__at8R {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  min-width: 0;
  padding: 16px;
}
.freeBox__at8R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__at8R > :global(.__wab_flex-container) > *,
.freeBox__at8R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__at8R > :global(.__wab_flex-container) > picture > img,
.freeBox__at8R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.link__wg3D0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.img__tq07 {
  object-fit: cover;
  width: 193px;
  height: 68px;
  flex-shrink: 0;
}
.img__tq07 > picture > img {
  object-fit: cover;
}
.img__tq07 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__nd2HU {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__nd2HU > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__nd2HU > :global(.__wab_flex-container) > *,
.freeBox__nd2HU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nd2HU > :global(.__wab_flex-container) > picture > img,
.freeBox__nd2HU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.text__mRloP {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mRloP {
    font-size: 48px;
  }
}
.freeBox__riiad {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__riiad > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__riiad > :global(.__wab_flex-container) > *,
.freeBox__riiad > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__riiad > :global(.__wab_flex-container) > picture > img,
.freeBox__riiad
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__n7SHs {
  font-size: 24px;
  line-height: 1.5;
  color: #000000d9 /* plasmic-token: 6V6peKX5GrGy */;
}
.text__dRqM4 {
  position: relative;
  font-size: 24px;
  line-height: 1.5;
  color: #000000d9 /* plasmic-token: 6V6peKX5GrGy */;
}
.freeBox__eMIkh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.freeBox__eMIkh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eMIkh > :global(.__wab_flex-container) > *,
.freeBox__eMIkh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eMIkh > :global(.__wab_flex-container) > picture > img,
.freeBox__eMIkh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__xIe {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 1016px;
  min-width: 0;
}
.img__xIe > picture > img {
  object-fit: cover;
}
.img__xIe > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__qKc1A {
  position: relative;
  align-self: center;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 8px 12px;
}
.freeBox___47WeE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___47WeE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 128px);
  height: calc(100% + 128px);
}
.freeBox___47WeE > :global(.__wab_flex-container) > *,
.freeBox___47WeE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___47WeE > :global(.__wab_flex-container) > picture > img,
.freeBox___47WeE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 128px;
}
.freeBox__zgIme {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__zgIme > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zgIme > :global(.__wab_flex-container) > *,
.freeBox__zgIme > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zgIme > :global(.__wab_flex-container) > picture > img,
.freeBox__zgIme
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.freeBox__fybfQ {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__fybfQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fybfQ > :global(.__wab_flex-container) > *,
.freeBox__fybfQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fybfQ > :global(.__wab_flex-container) > picture > img,
.freeBox__fybfQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
.text___5AksB {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
}
.columns:global(.__wab_instance) {
  position: relative;
}
.text__c5Lnn {
  height: auto;
}
.youTube__b7ZhK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 300px;
  min-width: 0;
}
.listItem__cJjlm:global(.__wab_instance) {
  position: relative;
}
.map__yhP5E:global(.__wab_instance) {
  position: relative;
  height: 300px;
  width: 100%;
  min-width: 0;
}
.freeBox___6W613 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___6W613 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px /* plasmic-token: WP6YkgRJUkej */);
  height: calc(100% + 48px /* plasmic-token: WP6YkgRJUkej */);
}
.freeBox___6W613 > :global(.__wab_flex-container) > *,
.freeBox___6W613 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6W613 > :global(.__wab_flex-container) > picture > img,
.freeBox___6W613
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px /* plasmic-token: WP6YkgRJUkej */;
}
.freeBox___5OTF {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  min-width: 0;
  padding: 16px;
}
.freeBox___5OTF > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___5OTF > :global(.__wab_flex-container) > *,
.freeBox___5OTF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5OTF > :global(.__wab_flex-container) > picture > img,
.freeBox___5OTF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.freeBox___8Kc17 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___8Kc17 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8Kc17 > :global(.__wab_flex-container) > *,
.freeBox___8Kc17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Kc17 > :global(.__wab_flex-container) > picture > img,
.freeBox___8Kc17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___3VMcq {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___3VMcq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___3VMcq > :global(.__wab_flex-container) > *,
.freeBox___3VMcq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3VMcq > :global(.__wab_flex-container) > picture > img,
.freeBox___3VMcq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
.text__mbC {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
.text__uNqH {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
}
.text__bZk9C {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: none;
}
.listItem__ttpm1:global(.__wab_instance) {
  position: relative;
}
.text___3PnUl {
  text-align: center;
}
.text__jxPok {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
  text-align: center;
}
.freeBox___5Fiyb {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 16px;
}
.freeBox___5Fiyb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___5Fiyb > :global(.__wab_flex-container) > *,
.freeBox___5Fiyb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Fiyb > :global(.__wab_flex-container) > picture > img,
.freeBox___5Fiyb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 32px;
}
.muiSelect___0MnUl:global(.__wab_instance) {
  width: 250px;
  flex-shrink: 0;
}
.freeBox__ea8Ch {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ea8Ch > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__ea8Ch > :global(.__wab_flex-container) > *,
.freeBox__ea8Ch > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ea8Ch > :global(.__wab_flex-container) > picture > img,
.freeBox__ea8Ch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.muiButtonGroup__tsk3C:global(.__wab_instance) {
  position: relative;
}
.text__cs6Sl {
  position: relative;
}
.text__mJk0V {
  position: relative;
}
.text__xMov1 {
  position: relative;
}
.text___2TXg7 {
  position: relative;
}
.freeBox__nfas8 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__nfas8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__nfas8 > :global(.__wab_flex-container) > *,
.freeBox__nfas8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nfas8 > :global(.__wab_flex-container) > picture > img,
.freeBox__nfas8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__sdhGr:global(.__wab_instance) {
  position: relative;
}
.text__zfth8 {
  position: relative;
}
.freeBox__n7IYp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__n7IYp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__n7IYp > :global(.__wab_flex-container) > *,
.freeBox__n7IYp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n7IYp > :global(.__wab_flex-container) > picture > img,
.freeBox__n7IYp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.muiSelect__lmTjg:global(.__wab_instance) {
  width: 318px;
}
.listItem__zs4Ue:global(.__wab_instance) {
  position: relative;
}
.text__axYgb {
  position: relative;
}
.freeBox__ombLy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ombLy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__ombLy > :global(.__wab_flex-container) > *,
.freeBox__ombLy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ombLy > :global(.__wab_flex-container) > picture > img,
.freeBox__ombLy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.muiButtonGroup__zcnZh:global(.__wab_instance) {
  position: relative;
}
.text__mpmh {
  position: relative;
}
.text___1Vgkl {
  position: relative;
}
.text___1I3C {
  position: relative;
}
.text__wkFTm {
  position: relative;
}
.freeBox__sGfRa {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__sGfRa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sGfRa > :global(.__wab_flex-container) > *,
.freeBox__sGfRa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sGfRa > :global(.__wab_flex-container) > picture > img,
.freeBox__sGfRa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__bZWp8:global(.__wab_instance) {
  position: relative;
}
.text__uas4J {
  text-align: center;
}
.text__hBn4Y {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
  text-align: center;
}
.freeBox__za1Jy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__opmdf {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__opmdf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__opmdf > :global(.__wab_flex-container) > *,
.freeBox__opmdf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__opmdf > :global(.__wab_flex-container) > picture > img,
.freeBox__opmdf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.freeBox__s5292 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__s5292 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__s5292 > :global(.__wab_flex-container) > *,
.freeBox__s5292 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s5292 > :global(.__wab_flex-container) > picture > img,
.freeBox__s5292
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s5292 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s5292 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s5292 > :global(.__wab_flex-container) > *,
  .freeBox__s5292 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s5292 > :global(.__wab_flex-container) > picture > img,
  .freeBox__s5292
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.slider__lnEf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.menu__f5PoP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___8EdQh {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox___8EdQh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___8EdQh > :global(.__wab_flex-container) > *,
.freeBox___8EdQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8EdQh > :global(.__wab_flex-container) > picture > img,
.freeBox___8EdQh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8EdQh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8EdQh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8EdQh > :global(.__wab_flex-container) > *,
  .freeBox___8EdQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8EdQh > :global(.__wab_flex-container) > picture > img,
  .freeBox___8EdQh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___0Spt1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.alert__jnpt2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__oEwGa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__uwhv {
  width: auto;
  display: inline-block;
}
.svg___26DyF {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.alert__wWeT:global(.__wab_instance) {
  position: relative;
  margin-top: 19px;
  width: 100%;
  min-width: 0;
}
.freeBox___81NRk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.collapse__bTs1Y:global(.__wab_instance) {
  position: relative;
}
.freeBox__q8MCy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__q8MCy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__q8MCy > :global(.__wab_flex-container) > *,
.freeBox__q8MCy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q8MCy > :global(.__wab_flex-container) > picture > img,
.freeBox__q8MCy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link___13Ljh {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
}
.freeBox__eQmwT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eQmwT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eQmwT > :global(.__wab_flex-container) > *,
.freeBox__eQmwT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQmwT > :global(.__wab_flex-container) > picture > img,
.freeBox__eQmwT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__yBncr {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
}
.freeBox___3V0Yv {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox___3V0Yv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___3V0Yv > :global(.__wab_flex-container) > *,
.freeBox___3V0Yv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3V0Yv > :global(.__wab_flex-container) > picture > img,
.freeBox___3V0Yv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__c4MPf:global(.__wab_instance) {
  position: relative;
}
.text___3Qp5X {
  position: relative;
}
.slider__hMout:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.listItem__rSdV:global(.__wab_instance) {
  position: relative;
}
.text__b7FsP {
  position: relative;
}
.menu__aqKJ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uXtMc {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__uXtMc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__uXtMc > :global(.__wab_flex-container) > *,
.freeBox__uXtMc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uXtMc > :global(.__wab_flex-container) > picture > img,
.freeBox__uXtMc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__aSmrx:global(.__wab_instance) {
  position: relative;
}
.text__df8Ts {
  position: relative;
}
.alert__jqOPr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__zdsLu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___4Vbxe {
  width: auto;
  display: inline-block;
}
.svg__qOrMt {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.alert__mAx7G:global(.__wab_instance) {
  position: relative;
  margin-top: 19px;
  width: 100%;
  min-width: 0;
}
.listItem__lY9ZP:global(.__wab_instance) {
  position: relative;
}
.text__iHraM {
  position: relative;
}
.collapse___1ByZg:global(.__wab_instance) {
  position: relative;
}
.freeBox__qw4Pz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qw4Pz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qw4Pz > :global(.__wab_flex-container) > *,
.freeBox__qw4Pz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qw4Pz > :global(.__wab_flex-container) > picture > img,
.freeBox__qw4Pz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__bUlTy {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
}
.freeBox__wnrE {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wnrE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wnrE > :global(.__wab_flex-container) > *,
.freeBox__wnrE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wnrE > :global(.__wab_flex-container) > picture > img,
.freeBox__wnrE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link___7Efot {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
}
.freeBox__f7ROl {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background: #021114;
  min-width: 0;
  padding: 32px 16px;
}
.freeBox__xkrgW {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  min-width: 0;
  padding: 16px;
}
.freeBox__xkrgW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xkrgW > :global(.__wab_flex-container) > *,
.freeBox__xkrgW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xkrgW > :global(.__wab_flex-container) > picture > img,
.freeBox__xkrgW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.listItem__dmAcq:global(.__wab_instance) {
  width: 100%;
  align-self: center;
  min-width: 0;
}
.text__cRvHv {
  color: #ffffff;
}
.text__lYdiF {
  color: #ffffff;
}
.freeBox__ynYb9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__zKsLg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: #00f8f8;
  font-family: "Titillium Web", sans-serif;
}
.text__qlwxb {
  position: relative;
}
.arwesFigure:global(.__wab_instance) {
  position: relative;
}
.text__ltv0N {
  position: relative;
}
.text__mbNOo {
  position: relative;
}
.text__kIium {
  position: relative;
}
.freeBox__tWbU2 {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__tWbU2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__tWbU2 > :global(.__wab_flex-container) > *,
.freeBox__tWbU2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tWbU2 > :global(.__wab_flex-container) > picture > img,
.freeBox__tWbU2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.freeBox__efxqo {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__efxqo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__efxqo > :global(.__wab_flex-container) > *,
.freeBox__efxqo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__efxqo > :global(.__wab_flex-container) > picture > img,
.freeBox__efxqo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
.text__jnCp1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
.text___5Uk {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
}
.freeBox__qSnYy {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__qSnYy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qSnYy > :global(.__wab_flex-container) > *,
.freeBox__qSnYy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qSnYy > :global(.__wab_flex-container) > picture > img,
.freeBox__qSnYy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__umXiP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__hrIds {
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 18px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  font-family: "Merriweather", serif;
}
.productCollection__e6NLi:global(.__wab_instance) {
  position: relative;
}
.freeBox__ljWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  height: 100%;
  min-height: 0;
}
.freeBox__ljWw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__ljWw > :global(.__wab_flex-container) > *,
.freeBox__ljWw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ljWw > :global(.__wab_flex-container) > picture > img,
.freeBox__ljWw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.productImage__mgZdE:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.productPrice__qNBoq:global(.__wab_instance) {
  position: relative;
  font-size: 20px;
  letter-spacing: -1px;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  font-family: "Merriweather", serif;
}
.productTitle__kvub0:global(.__wab_instance) {
  font-size: 16px;
  font-weight: 500;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  font-family: "Merriweather", serif;
  text-align: center;
}
.listItem__l7JQ0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___1OvD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.cmsGallery:global(.__wab_instance) {
  position: relative;
}
.freeBox___8GFrN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: none;
}
.cmsItemField__m3GAj:global(.__wab_instance) {
  position: relative;
}
.freeBox__yb5Ss {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
  background: #00000033;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 6px 12px;
}
.cmsItemField__sSpSk:global(.__wab_instance) {
  color: #ffffffd6;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.listItem__shLp8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__iyPz0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.productCollection__wDr7Y:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: unset;
}
.productPrice__z41Nt:global(.__wab_instance) {
  position: relative;
}
.text___3NLb {
  position: relative;
}
.productImage__lsGdG:global(.__wab_instance) {
  position: relative;
  width: 166px;
  height: 192px;
}
.productCollection__g8LkN:global(.__wab_instance) {
  position: relative;
}
.freeBox___1JW21 {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.freeBox___1JW21 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___1JW21 > :global(.__wab_flex-container) > *,
.freeBox___1JW21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1JW21 > :global(.__wab_flex-container) > picture > img,
.freeBox___1JW21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.productImage__yydIu:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
.productPrice__pDj9:global(.__wab_instance) {
  position: relative;
  font-size: 20px;
  letter-spacing: -1px;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  font-family: "Merriweather", serif;
}
.productTitle__yRDbU:global(.__wab_instance) {
  font-size: 16px;
  font-weight: 500;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  font-family: "Merriweather", serif;
  text-align: center;
}
.freeBox__xwKwF {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-column-gap: 0px;
  position: relative;
  width: 100%;
  padding-top: 128px;
  padding-bottom: 64px;
  background: linear-gradient(180deg, #ffebf733 0%, #a65a5a33 100%) 0% 0% / 100%
      100% repeat,
    linear-gradient(#faf8f4, #faf8f4), linear-gradient(#ffffffe6, #ffffffe6),
    linear-gradient(#000000, #000000),
    url("https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80")
      0% 0% / cover no-repeat,
    linear-gradient(#fdf9ffad, #fdf9ffad),
    url("https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=975&q=80")
      0% 0% / cover repeat;
  min-width: 0;
}
.freeBox__b2XGz {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__b2XGz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__b2XGz > :global(.__wab_flex-container) > *,
.freeBox__b2XGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b2XGz > :global(.__wab_flex-container) > picture > img,
.freeBox__b2XGz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.freeBox__pi1Lr {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__pi1Lr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__pi1Lr > :global(.__wab_flex-container) > *,
.freeBox__pi1Lr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pi1Lr > :global(.__wab_flex-container) > picture > img,
.freeBox__pi1Lr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
.text__vCm87 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
.text__ryS1K {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
}
.listItem__cqpI:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.text__xnIay {
  position: relative;
}
.freeBox__hvls9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: url("./images/image12.png") left 0% top 50% / cover repeat;
  min-width: 0;
}
.reveal:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.freeBox__bsgZs {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.text__m4XRa {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
}
.freeBox__ewP {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 32px;
}
.freeBox__ewP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ewP > :global(.__wab_flex-container) > *,
.freeBox__ewP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ewP > :global(.__wab_flex-container) > picture > img,
.freeBox__ewP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__agMyi {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}
.freeBox__uG3C6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__uG3C6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__uG3C6 > :global(.__wab_flex-container) > *,
.freeBox__uG3C6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uG3C6 > :global(.__wab_flex-container) > picture > img,
.freeBox__uG3C6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.link__f09Jo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__t3NPr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  flex-shrink: 0;
}
.link__ylKik {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__poEAd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: eoKrlLGaw */;
  flex-shrink: 0;
}
.link__ixz9B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__wkP1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  flex-shrink: 0;
}
.listItem__eq3O:global(.__wab_instance) {
  position: relative;
}
.text__hJdNo {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
}
.freeBox__s0OrA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tilt:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 500px;
  min-width: 0;
}
.freeBox__gYvtA {
  box-shadow: 0px 25px 50px 0px #00000040;
  display: flex;
  position: relative;
  width: 100%;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/image4.png") left 50% top 50% / cover;
  min-width: 0;
}
.freeBox__jk5Wo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 464px;
  height: 743px;
  opacity: 0.5;
  box-shadow: none;
  background: url("./images/image3.png") 0% 0% / cover repeat;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jk5Wo {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    box-shadow: none;
    background: url("./images/image3.png") 0% 0% / cover repeat;
    flex-column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
.listItem__xtGnH:global(.__wab_instance) {
  position: relative;
}
.text__bcZgl {
  position: relative;
  color: #00000080 /* plasmic-token: 3CW6Ox9wRRpV */;
}
.freeBox__yeK4F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__chzbw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 920px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
}
.parallax___0JtR5:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  margin-left: 100px;
}
.img__l6NM {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__l6NM > picture > img {
  object-fit: cover;
}
.img__l6NM > .__wab_img-spacer > img {
  object-fit: cover;
}
.parallax__jTmvk:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.img___9Tt {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img___9Tt > picture > img {
  object-fit: cover;
}
.img___9Tt > .__wab_img-spacer > img {
  object-fit: cover;
}
.parallax__j9X4U:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-end;
  max-width: 75%;
}
.img__k4TAj {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__k4TAj > picture > img {
  object-fit: cover;
}
.img__k4TAj > .__wab_img-spacer > img {
  object-fit: cover;
}
.parallax__k1Sfu:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-left: 10%;
}
.img__dW3W3 {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__dW3W3 > picture > img {
  object-fit: cover;
}
.img__dW3W3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__nr3Xc {
  display: flex;
  flex-direction: row;
}
.freeBox__nr3Xc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__nr3Xc > :global(.__wab_flex-container) > *,
.freeBox__nr3Xc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nr3Xc > :global(.__wab_flex-container) > picture > img,
.freeBox__nr3Xc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__gEYbw:global(.__wab_instance) {
  align-self: flex-end;
}
.freeBox__hae6J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hae6J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hae6J > :global(.__wab_flex-container) > *,
.freeBox__hae6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hae6J > :global(.__wab_flex-container) > picture > img,
.freeBox__hae6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___4Zri0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  overflow: auto;
  max-width: 600px;
  height: 500px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.embed:global(.__wab_instance) {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox___7U7D6 {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  min-width: 0;
  padding: 16px;
}
.freeBox___7U7D6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___7U7D6 > :global(.__wab_flex-container) > *,
.freeBox___7U7D6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7U7D6 > :global(.__wab_flex-container) > picture > img,
.freeBox___7U7D6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.text__yzT7H {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.text__h0L8B {
  position: relative;
}
.text___4ClIk {
  position: relative;
}
.text___6M6D {
  position: relative;
}
.text___1FmI {
  position: relative;
}
.link__jRvAt {
  position: relative;
  align-self: flex-start;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
}
.link__zAE6 {
  position: relative;
  align-self: flex-start;
  color: #04a4f4 /* plasmic-token: dSH5vPr6T45g */;
}
.coloredSection:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___5F1Js {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  height: auto;
  min-width: 0;
  padding: 16px;
}
.freeBox___5F1Js > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___5F1Js > :global(.__wab_flex-container) > *,
.freeBox___5F1Js > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5F1Js > :global(.__wab_flex-container) > picture > img,
.freeBox___5F1Js
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.text__rjYPk {
  position: relative;
  color: #ffffffd9 /* plasmic-token: H8qQObt9V9GU */;
}
.text__iSYk4 {
  position: relative;
  color: #ffffffd9 /* plasmic-token: H8qQObt9V9GU */;
}
.text__gravk {
  position: relative;
  color: #ffffffd9 /* plasmic-token: H8qQObt9V9GU */;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.text__w0NQi {
  color: rgb(0, 53, 94) /* plasmic-token: fuOlnHkDJkX */;
  font-size: 20px;
}
.svg___9KvQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: rgb(0, 53, 94) /* plasmic-token: fuOlnHkDJkX */;
}
.freeBox__t8GM {
  display: block;
  position: relative;
  height: 1px;
  background: #ffffff33;
  flex-shrink: 0;
}
.text__y5Bw5 {
  position: relative;
  color: #ffffffd9 /* plasmic-token: H8qQObt9V9GU */;
}
.link__x8Tbo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.link__x8Tbo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__x8Tbo > :global(.__wab_flex-container) > *,
.link__x8Tbo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__x8Tbo > :global(.__wab_flex-container) > picture > img,
.link__x8Tbo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__kFhWk {
  color: rgb(79, 196, 251) /* plasmic-token: P2GhlSti3mm */;
}
.link__oKWzs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  margin-top: calc(84px + 24px) !important;
}
.img___4JXgo {
  position: relative;
  object-fit: cover;
  width: 199px;
  height: 70px;
  flex-shrink: 0;
}
.img___4JXgo > picture > img {
  object-fit: cover;
}
.img___4JXgo > .__wab_img-spacer > img {
  object-fit: cover;
}
